body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-image: url(ad3.jpg);
	background-size: cover;
  }
  header {
	background-color:black;
	color: #f3260b;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	min-height: 1cm;
  display: inline block;
  }
  @font-face {
	font-family: 'YANIK Admin Page';
	src: url('path/to/font.ttf');
}
  header h1 {
	font-family: 'YANIK Admin Page', sans-serif;
	
  }
  header a{
    font-weight: bold;
    margin-left: 35cm;
    color: antiquewhite;
  }
  .website-logo{
	height: 60px;
  }
  .website-logo img {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	animation-name: rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.website-logo h1{
	margin-left: 13cm;
	margin-top: -50px;
}
.popular-artists::-webkit-scrollbar {
	display: none;
}
/* popular artists */
.popular-artists {
	position: relative;
	width: 100%;
	height: auto;
	top: 1cm;
	box-sizing: border-box;
}
/* container of the popular artists */
.popular-artist-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}
/* images in the popular artists section */
.popular-artists div a img {
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
}
/* content of the container in popular artists section */
.popular-artists > div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
}
/* I generally use the combination of 3 properties, i.e. display:flex, justify content and align items to position an element */
/* at the center of the screen. this is my favourite way. there are other options too, but I prefer this one because */
/* it also takes care of the flexibility of the contents of the div */
.popular-artist-content > a > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.popular-artist-content > a > div > div {
	position: absolute;
	display: flex;
	/* top: 0px;
    left: 0px; */
	top: 0px;
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity ease-in-out 0.1s;
}
/* additional icons in this section */
.popular-artist-content a div div i {
	margin: auto;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
} /* added hovering effects */
.popular-artist-content a div div:hover {
	opacity: 0.5;
}
.popular-artist-content a div div:hover i {
	opacity: 1;
}
/* text portion in popular artists section */
.popular-artists div p {
	text-align: center;
}